apidocs/response_TrainAnnouncement_v1.9.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:api="http://api.trafikinfo.trafikverket.se">
  <xs:annotation>
    <xs:documentation xml:lang="sv">Tidtabellsinformation, d.v.s information om tåg på trafikplatser (stationer, hållplatser) varje post motsvarar ett visst tåg vid respektive trafikplats.</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation xml:lang="sv">
Förändringslogg
Följande fält är nya från och med version 1.9
OperationalTransportIdentifiers
OperationalTransportIdentifiers.ObjectType
OperationalTransportIdentifiers.Company
OperationalTransportIdentifiers.Core
OperationalTransportIdentifiers.Variant
OperationalTransportIdentifiers.TimetableYear
OperationalTransportIdentifiers.StartDate
</xs:documentation>
  </xs:annotation>
  <xs:element name="RESPONSE" type="RESPONSE" />
  <xs:complexType name="RESPONSE">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="RESULT" type="RESULT" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RESULT">
    <xs:sequence>
      <xs:element name="TrainAnnouncement" type="TrainAnnouncement" minOccurs="0" maxOccurs="unbounded" />
      <xs:element minOccurs="0" name="ERROR" type="ERROR" />
      <xs:element minOccurs="0" name="INFO" type="INFO" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="ERROR">
    <xs:sequence>
      <xs:element name="SOURCE" type="xs:string" minOccurs="0" />
      <xs:element name="MESSAGE" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LASTMODIFIED">
    <xs:attribute name="datetime" type="xs:dateTime" use="optional" />
  </xs:complexType>
  <xs:complexType name="EVALRESULT">
    <xs:sequence>
      <xs:any minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="INFO">
    <xs:sequence>
      <xs:element name="LASTMODIFIED" type="LASTMODIFIED" minOccurs="0" />
      <xs:element name="LASTCHANGEID" type="xs:string" minOccurs="0" />
      <xs:element name="EVALRESULT" type="EVALRESULT" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="SSEURL" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrainAnnouncement">
    <xs:sequence>
      <xs:element api:key="true" minOccurs="0" name="ActivityId" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Aktivitetens unika id</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ActivityType" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">"Ankomst" eller "Avgang"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Advertised" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger om ankomsten/avgången annonseras i tidtabell</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AdvertisedTimeAtLocation" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Tidtabellstid</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AdvertisedTrainIdent" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Annonserat tågnummer (tågnumret som står på biljetten)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking" type="Booking">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Kod för bokningsinformation och bokningsinformation, ex: "Vagn 4 obokad</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Canceled" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger om ankomsten/avgången är inställd</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger att dataposten raderats</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DepartureDateOTN" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Utgångsdatum för det Operativa tågnumret.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Deviation" type="Deviation">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Eventuell avvikelse med full orsakskod, ex: ABC023 och beskrivning, ex: "Buss ersätter", "Spårändrat", "Kort tåg", "Ej servering" o.s.v.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="EstimatedTimeAtLocation" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Tidpunkt för beräknad ankomst eller avgång</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="EstimatedTimeIsPreliminary" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger om en beräknad tid är preliminär. Notera att om den beräknade tiden är preliminär så innebär det att den kan ändras både framåt och bakåt, ett tåg kan alltså t.ex avgå tidigare än beräknad tidpunkt om den också är markerad som preliminär.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FromLocation" type="FromLocation">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Från station för tåget med ordning och i vilken prioritet som ska visas. Notera att det avser vad som ska annonseras för resenärerna, det vill säga vad som ska visas på skyltar o.dyl. FromLocation kan med andra ord ha olika innehåll för samma tåg vid olika stationer och olika innehåll vad ankomster respektive avgångar. Fältet anger hur från-stationer ska annonseras.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="InformationOwner" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Namnet på trafikinformationsägaren</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="LocationDateTimeOTN" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Det operativa tågets ankomst- eller avgångstid enligt tidtabell (kan skilja sig från den annonserade tiden).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="LocationSignature" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Signatur för stationen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MobileWebLink" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Url till trafikägarens mobila hemsida</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ModifiedTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Tidpunkt då dataposten ändrades</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NewEquipment" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger i vilken ordning tåget nyutrustats. Om ingen nyutrustning skett kommer värdet vara noll</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Operator" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Det järnvägsföretag som utför järnvägstrafik, alltså kör tåget, för en trafikorganisatör.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="OperationalTrainNumber" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Operativt tågnummer (OTN).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperationalTransportIdentifiers" type="CompositIdentifierOperationalType">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Identifierare i TAF/TAP format.</xs:documentation>
          <xs:documentation xml:lang="en">Identifiers in TAF/TAP format.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OtherInformation" type="OtherInformation">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Kod för övrig annonseringsinformation och övrig annonseringsinformation, ex. "Trevlig resa!", "Bakre fordon går låst!",  "Ingen påstigning"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlannedEstimatedTimeAtLocation" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger en planerad försening och dess giltighet anges med PlannedEstimatedTimeAtLocationIsValid-flaggan</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlannedEstimatedTimeAtLocationIsValid" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger om PlaneradBeraknadTid är giltig. Kommer sättas till false när en operativ beräknad tidrapport, tidrapport eller slopningsrapport skapas</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductInformation" type="ProductInformation">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Kod för beskrivning av tåget och beskrivning av tåget, ex. "Tågkompaniet", "SJ InterCity", "TiB/Tågkomp"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ScheduledDepartureDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Tågets annonserade avgångsdatum</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service" type="Service">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Servicekod och lite extra utöver produktinformation, ex "Bistro", "Sov-och liggv"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TimeAtLocation" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation xml:lang="sv">När tåget har ankommit eller avgått</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TimeAtLocationWithSeconds" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation xml:lang="sv">När tåget har ankommit eller avgått, med sekunder</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToLocation" type="ToLocation">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Till station för tåget med ordning och i vilken prioritet som ska visas. Notera att det avser vad som ska annonseras för resenärerna, det vill säga vad som ska visas på skyltar o.dyl. ToLocation kan med andra ord ha olika innehåll för samma tåg vid olika stationer och olika innehåll vad ankomster respektive avgångar. Fältet anger hur till-stationer ska annonseras.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TrackAtLocation" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Spår</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrainComposition" type="TrainComposition">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Kod för tågsammansättning och tågsammansättning, ex: "Vagnsordning 7, 6, 5, 4, 2, 1"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TrainOwner" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Ägaren av det aktuella tågläget</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TypeOfTraffic" type="TypeOfTraffic">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
							Trafiktypen, ex. "Buss", "Pendeltåg", "Taxi", "Tåg".
						</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViaFromLocation" type="ViaFromLocation" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViaToLocation" type="ViaToLocation" />
      <xs:element minOccurs="0" name="WebLink" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Url till trafikägarens hemsida</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="WebLinkName" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Namn på trafikinfoägaren att använda i länkar</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Kod för bokningsinformation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Description" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Text som ger bokningsinformation, ex: "Vagn 4 obokad", "Platsbiljett krävs"</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Deviation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Kod för avvikelse</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Description" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Text som beskriver avvikelse, ex: "Buss ersätter", "Spårändrat", "Kort tåg", "Ej servering", "Oväder"</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FromLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocationName" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Namn på frånstation. Notera att det avser vad som ska annonseras för resenärerna, det vill säga vad som ska visas på skyltar o.dyl. FromLocation kan med andra ord ha olika innehåll för samma tåg vid olika stationer och olika innehåll vad ankomster respektive avgångar. Fältet anger hur från-stationer ska annonseras.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Priority" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Prioritet för vilka stationer som ska visas.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Order" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Vilken ordning stationer ska visas.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompositIdentifierOperationalType">
    <xs:sequence>
      <xs:element name="ObjectType" type="ObjectType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Ger möjlighet att beskriva olika objekt inför en ansökan, TR = Train, PA = Path, CR = Case Reference, PR = Path Request</xs:documentation>
          <xs:documentation xml:lang="en">Provides a possibility for differentiantion between the objects: Train, Path, Case Reference and Path Request</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Company" type="CompanyCode" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Företagskod UIC för den som utfärdat identiteten</xs:documentation>
          <xs:documentation xml:lang="en">Identifies the RU, IM or other company involved in the Rail Transport Chain</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Core" type="CoreTyp" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Huvuddelen av identifieraren.</xs:documentation>
          <xs:documentation xml:lang="en">It is the main part of identifier and is determent by the company that creates it.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Variant" type="Variant" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Varianten visar relationen mellan två id'n som refererar samma affärsobjekt</xs:documentation>
          <xs:documentation xml:lang="en">The variant shows a relationship between two identifiers referring to the same business case</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimetableYear" type="TimetableYear" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Refererar till tågplan där behovet ska exekveras</xs:documentation>
          <xs:documentation xml:lang="en">Refers to the timetable period in which the business will be carried out</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StartDate" type="StartDate" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Starten då behovet exekveras</xs:documentation>
          <xs:documentation xml:lang="en">The start of the date/time in effect</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtherInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Kod för övrig annonseringsinformation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Description" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Text som ger övrig annonseringinformation, ex. "Trevlig resa!", "Bakre vagnen låst!", "Ingen påstigning"</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Kod för produkten</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Description" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Text som beskriver produkten, ex. "Västtågen", "SJ Snabbtåg", "Pågatågen"</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Kod för service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Text som beskriver den service som finns, ex "Bistro", "Sov-och liggvagnar", "Kiosk"</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ToLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocationName" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Tillstation för tåget. Notera att det avser vad som ska annonseras för resenärerna, det vill säga vad som ska visas på skyltar o.dyl. ToLocation kan med andra ord ha olika innehåll för samma tåg vid olika stationer och olika innehåll vad ankomster respektive avgångar. Fältet anger hur till-stationer ska annonseras.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Priority" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Prioritet för vilka stationer som ska visas.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Order" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Vilken ordning stationer ska visas.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrainComposition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Kod för tågsammansättning</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Description" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Text som beskriver tågsammansättning, ex: "Vagnsordning 7, 6, 5, 4, 2, 1"</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TypeOfTraffic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
							Kod för trafiktyp
						</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Description" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
							Trafiktypen, ex. "Buss", "Pendeltåg", "Taxi", "Tåg".
						</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ViaFromLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocationName" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Namn på via frånstation. Notera att det avser vad som ska annonseras för resenärerna, det vill säga vad som ska visas på skyltar o.dyl. ViaFromLocation kan med andra ord ha olika innehåll för samma tåg vid olika stationer och olika innehåll vad ankomster respektive avgångar. Fältet anger hur från-stationer ska annonseras.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Priority" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Prioritet för vilka stationer som ska visas.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Order" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Vilken ordning stationer ska visas.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ViaToLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocationName" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Namn på vi. Notera att det avser vad som ska annonseras för resenärerna, det vill säga vad som ska visas på skyltar o.dyl. ViaToLocation kan med andra ord ha olika innehåll för samma tåg vid olika stationer och olika innehåll vad ankomster respektive avgångar. Fältet anger hur till-stationer ska annonseras.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Priority" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Prioritet för vilka stationer som ska visas.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Order" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Vilken ordning stationer ska visas.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ObjectType">
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
      <xs:pattern value="[0-9A-Z]{2}" />
      <xs:enumeration value="TR" />
      <xs:enumeration value="PA" />
      <xs:enumeration value="CR" />
      <xs:enumeration value="PR" />
      <xs:enumeration value="TC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CompanyCode">
    <xs:annotation>
      <xs:documentation xml:lang="sv">Företagskod UIC</xs:documentation>
      <xs:documentation xml:lang="en">Identifies the RU, IM or other company involved in the Rail Transport Chain</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CoreTyp">
    <xs:restriction base="xs:string">
      <xs:minLength value="12" />
      <xs:whiteSpace value="replace" />
      <xs:maxLength value="12" />
      <xs:pattern value="[\-\*0-9A-Z]{12}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Variant">
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
      <xs:pattern value="[0-9A-Z]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TimetableYear">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="2012" />
      <xs:maxInclusive value="2097" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StartDate">
    <xs:restriction base="xs:date">
      <xs:minInclusive value="2012-01-01" />
      <xs:maxInclusive value="2097-12-31" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>