apidocs/response_ReasonCode_v1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dc="http://schema.data.trafikverket.se/dc">
  <xs:annotation>
    <xs:documentation xml:lang="sv">
Orsakskoder, varje post representerar en orsakskod.
Fälten "Code" och "Level3Description" motsvarar fälten "Code" och "Description" för objekttyperna TrainAnnouncement och TrainMessage.
</xs:documentation>
  </xs:annotation>
  <xs:element name="RESPONSE" type="RESPONSE" />
  <xs:complexType name="RESPONSE">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="RESULT" type="RESULT" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RESULT">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ReasonCode" type="ReasonCodePublic" minOccurs="0" />
      <xs:element minOccurs="0" name="ERROR" type="ERROR" />
      <xs:element minOccurs="0" name="INFO" type="INFO" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="ERROR">
    <xs:sequence>
      <xs:element name="SOURCE" type="xs:string" minOccurs="0" />
      <xs:element name="MESSAGE" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LASTMODIFIED">
    <xs:attribute name="datetime" type="xs:dateTime" use="optional" />
  </xs:complexType>
  <xs:complexType name="EVALRESULT">
    <xs:sequence>
      <xs:any minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="INFO">
    <xs:sequence>
      <xs:element name="LASTMODIFIED" type="LASTMODIFIED" minOccurs="0" />
      <xs:element name="LASTCHANGEID" type="xs:string" minOccurs="0" />
      <xs:element name="EVALRESULT" type="EVALRESULT" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="SSEURL" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReasonCodePublic">
    <xs:sequence>
      <xs:element dc:key="true" name="Code" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
							Full orsakskod, detta fält motsvarar det som finns från och med TrainAnnouncement version 1.5 under t.ex. Deviation.Code<br xmlns="http://trafikverket.se/ReasonCode_Public" />
							eller i objekttypen TrainMessage från och med schemaversion 1.5 under ReasonCode.Code
						</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="GroupDescription" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
							Beskrivning för vilken grupp orsakskoden tillhör, t.ex Annonseringstexter och Orsaker nya principer
						</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="Level1Description" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
							Nivå 1 beskrivning, beskriver vilken typ av orsakskod.
						</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="Level2Description" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
							Nivå 2 beskrivning, beskriver vilken betydelse orsakskoden har, t.ex. Nationell
						</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="Level3Description" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
							Nivå 3 beskrivning, beskrivande text för orsakskoden, detta fält motsvarar det som finns i objekttypen TrainAnnouncement från och med schemaversion 1.5 under t.ex. Deviation.Description<br xmlns="http://trafikverket.se/ReasonCode_Public" />
							eller i objekttypen TrainMessage från och med schemaversion 1.5 under ReasonCode.Description
						</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ModifiedTime" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">
        Specifies when the object is stored.
      </xs:documentation>
          <xs:documentation xml:lang="sv">
        Anger när objektet är sparat.
      </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="Deleted" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element default="false" name="Deleted" type="xs:boolean">
    <xs:annotation>
      <xs:documentation xml:lang="en">
				Specifies if the object is deleted.
			</xs:documentation>
      <xs:documentation xml:lang="sv">
				Anger om objektet är raderat.
			</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>